// Aboutme

.Aboutme_content {
  width: 100%;
  max-width: 72rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.Aboutme_infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2rem;
}

.Aboutme_infos-list {
  width: 35%;
}

.Aboutme_info {
  display: flex;
  width: 100%;
  max-width: 10rem;
  margin: 0 auto;
}

.Aboutme_field-title {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.Aboutme_icon {
  flex-shrink: 0;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.Aboutme_text {
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

// mobile
@media (max-width: 768px) {
  .Aboutme_content {
    padding: 2rem 1rem;
  }

  .Aboutme_infos {
    flex-wrap: wrap; /* 줄바꿈 허용 */
    justify-content: space-between; /* 좌우 여백 조절 */
    row-gap: 1.5rem;
  }

  .Aboutme_infos-list {
    width: 48%; /* 2열 */
    margin-bottom: 1rem;
  }

  .Aboutme_info {
    max-width: 100%;
    margin: 0.5rem auto;
  }

  .Aboutme_field-title {
    font-size: 1rem;
  }

  .Aboutme_icon {
    font-size: 1.3rem;
    margin-right: 0.8rem;
    margin-top: 0.3rem;
  }

  .Aboutme_text {
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
}
