// Aboutme

.Aboutme_content {
  width: 100%;
  max-width: 72rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.Aboutme_infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2rem;
}

.Aboutme_infos-list {
  width: 35%;
}

.Aboutme_info {
  display: flex;
  width: 100%;
  max-width: 10rem;
  margin: 0 auto;
}

.Aboutme_field-title {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.Aboutme_icon {
  flex-shrink: 0;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.Aboutme_text {
  margin-top: 0.3rem;
  font-size: 0.9rem;
}
