.Carousel_images {
  position: relative;
}

.Carousel_slider-content {
  position: relative;
}

.Carousel_slider {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
