// Aboutme
.Aboutme_section_about {
}

.Aboutme_content {
  width: 100%;
  max-width: 72rem;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.Aboutme_infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2rem;
}

.Aboutme_infos-list {
  width: 50%;
}

.Aboutme_info {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 10rem;
  margin: 0 auto;
}

.Aboutme_field-title {
  margin-bottom: 0.5rem;
  font-weight: 700;
}
