.Header {
  display: block;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}

.Header_Title_Container {
  display: flex;
  width: 100%;
  max-width: 72rem;
  height: 4.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.25rem 1.5rem;
}

.Header_Title {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  color: #e2e8f0;
  transition: color 0.3 ease-in;
}
.Header_Title:hover {
  color: #8b5cf6;
}

.Header_navigation-menu {
  display: flex;
}

.Header_nav-button {
  padding: 0 0.8rem;
  font-weight: 700;
  line-height: 2rem;
  color: #e2e8f0;
  transition: color 0.3 ease-in;
}

.Header_nav-button:hover {
  color: #8b5cf6;
}

[type="button"]:not(:disabled) {
  cursor: pointer;
}

[type="button"] {
  appearance: button;

  -webkit-appearance: button;
}

// menu
.Header_menu {
  position: fixed; /* 화면에 고정 */
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  margin: 0.7rem;
  padding: 1rem 1rem; /* 내부 여백 */
  font-size: 2rem;
  z-index: 10;
  background-color: white;
  width: auto; /* 내용물 크기에 맞춤 */
  height: auto; /* 내용물 크기에 맞춤 */
  color: #0f172a;
  border: 1px solid;
  border-radius: 0.3rem;
}

/* 📱 mobile */

@media (max-width: 768px) {
  .Header_Title_Container {
    padding: 1rem;
    height: 3.5rem;
  }

  .Header_Title {
    font-size: 1.2rem;
  }

  .Header_menu {
    display: flex;
    padding: 0.4rem 0.5rem;
    font-size: 1.4rem;
    top: 0.5rem;
    right: 0.5rem;
    transform: none;
  }

  /* 메뉴가 햄버거에 가려지지 않도록 */
  .Header_navigation-menu {
    margin-right: 3rem;
  }
}
