@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
// Centerhead title
.Centerhead_container {
  position: relative;
}
.Centerhead_content {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 1.25rem;
  text-align: center;
}
.Centerhead_title {
  font-size: 3.5rem;
  font-weight: 1000;
  line-height: 1.3;
}

.Centerhead_divide {
  width: 3rem;
  margin: 1rem auto;
  border-top: 0.35rem solid #915afa;
  opacity: 0.7;
}

.Centerhead_description {
  margin: 0 auto 2rem;
  font-size: 1.35rem;
}
