// mddal display
.Modal_overlay {
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: flex-start;
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0; // ✅ top, left, right, bottom 모두 0으로 대체
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
}

.Modal_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background: var(--bs-body-bg);
  color: var(--bs-modal-color);
  border-radius: var(--bs-border-radius);
  border: 1px solid var(--bs-border-color);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  border: none;
}

// readme header
.Readme_title {
  font-size: 1.2rem;
}
.Readme_esc {
  color: #ffffff;
  font-size: 2rem;
  opacity: 0.5;
}

.Readme-header {
  display: flex;
  align-items: center;
  background-color: black;
  color: #ffffff;
  font-weight: 700;
  justify-content: space-between;
  padding: 1rem;
}
