// projects
.Projects_section {
  width: 100%;
  padding: 3rem 1.5rem;
  position: relative;
  color: #e2e8f0;
}

.Projects_section::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  width: 100px;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(226, 232, 240, 0.5),
    rgba(226, 232, 240, 0.4),
    rgba(226, 232, 240, 0.5)
  );
}

.Projects_content {
  max-width: 72rem;
  margin: 0 auto;
}

.ProjectDetails_project-details {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  color: #0f172a;
}

.ProjectDetails_project-detail {
  display: flex;
  flex-direction: column;
  width: calc((100% - 2rem) / 2);
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1.5rem;
}

.ProjectsDetails_name {
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 0.6rem;
  background-color: #32fa4c;
  border: 1px solid #000000;
  font-weight: 700;
  font-size: 1.2rem;
  color: #0f172a;
}

.ProjectDetails_period {
  padding-bottom: 0.4rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #9a958e;
  font-size: 0.85rem;
  color: #999;
}

.ProjectDetails_title {
  font-weight: 700;
  font-size: 1.1rem;
}

.ProjectDetails_summary {
  list-style: disc;
  padding-left: 1.25rem;
  font-size: 1rem;
}

.ProjectsDetails_url {
  padding-left: 0.75rem;
  margin-top: 1rem;
  border-left: 5px solid #3977c9;
  font-size: 0.9rem;
  color: #38bdf8;
}

.ProjectDetails_tech-stack {
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  margin-top: 1rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  background-color: #d6fae6;
  font-weight: 700;
  font-size: 0.9rem;
}

.ProjectDetails_button-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 0.65rem;
}

.ProjectDetails_readme-button {
  display: flex;
  align-items: center;
  align-self: flex-start;
  column-gap: 0.3rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
}

.ProjectDetails_image-button {
  display: flex;
  align-items: center;
  align-self: flex-start;
  column-gap: 0.3rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
}

// modal detail markdown
.Modal_body {
  position: relative;
  flex: auto;
  padding-left: 2rem;
  color: #0f172a;
}

.MarkDown_header-title {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #9a958e;
}

.MarkDown_header-text {
  margin-bottom: 1.5rem;
  font-weight: 800;
}

.MarkDown_period {
  font-size: 0.85rem;
  color: #999;
}

.MarkDown_text {
  padding: 0 1rem;
}
