// Section
.Study_section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem;
}

// div ul감싼
.Studies_lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  gap: 1rem;
  margin: 0 auto;
  padding: 0 10rem;
}

.StudyDetails_content {
  position: relative;
}

// card 형태로 구성 study 각각.
.StudyDetails_card {
  position: relative;
  height: 100%;
  padding: 0 1.75rem;
  border: 1px solid rgba(226, 232, 240, 0.2);
  border-radius: 1rem;
}

.StudyDetails_title {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  color: #38bdf8;
}

.StudyDetails_description {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

// teach-stack list
ul.StudyDetails_teach-stacks {
  list-style-type: none;
}

.StudyDetails_teach-stacks {
  color: #0f172a;
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  padding: 0.25rem 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  background-color: #d6fae6;
  opacity: 0.8;
}
